<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicto</title>
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="..\static\styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</head>
<body>
    <!--Nav-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{{url_for('home') }}">Predicto</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                  
                    <li class="nav-item dropdown dropright">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('lep') }}">Loan Eligiblity Prediction</a>
                        <a class="dropdown-item" href="#">Credit Default Prediction</a>
                        <a class="dropdown-item" href="#">Customer Value Prediction</a>
                      </div>
                    </li>
              
                    <li class="nav-item"><a class="nav-link" href="vision.html">Vision</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Masthead-->
    <header class="masthead">
        <div class="container-md  ">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Loan Eligiblity Prediction</h1>
                    <hr class="divider" />
                    <p class="text-white-75 mb-5">Just Enter the details and we'll predict it for you.</p>
                    <hr class="divider" />
                    <br>
                    <p class="text-white-75 mb-5">We do it with a machine learning model which assesses the creditworthiness of a customer to avail and repay a particular loan amount. Loan eligibility depends on criteria such as age, financial position, credit history, credit score, other financial obligations etc.</p>
                    <br>
                    <center><b><h2 style="color:#FF0000";>{{ prediction_text}}</h2></b></center> 
                  <br>
                  <br>     
                 <form class="form-horizontal" action="{{ url_for('predictlep')}}"method="post">
             
                    
                </div>
            </div>
        </div>
    </header>
   <!--Form-->
   <div class="container main">
    <div class="jumbotron" id="holder">
      <br><br>
      <form class="form-horizontal" action="{{ url_for('predictlep')}}"method="post">
  
        <div class="form-group">
          <div class="col-sm-10"><label> Your Income:</label> 
            <input  class="form-control" type= "text" name="ApplicantIncome" placeholder="0" required="required" />
          </div>
        </div> <br>  
       
        <div class="form-group">
          <div class="col-sm-10"><label> Co-applicant Income:</label> 
            <input  class="form-control" type="text" name="CoapplicantIncome" placeholder="0" required="required" />
          </div>
        </div> <br>  
        
  
        <div class="form-group">
          <div class="col-sm-10"><label> Loan Amount:</label> 
            <input  class="form-control" type="text" name="LoanAmount" placeholder="0" required="required" />
          </div>
        </div> <br>  
        
        
        <div class="form-group">
          <div class="col-sm-10"><label> Loan Term:</label> 
            <input class="form-control" type="number" name="Loan_Amount_Term" placeholder="0" required="required">
         </div>
        </div> <br>  
  
        <div class="form-group">
          <div class="col-sm-10">
            <label> Credit History:</label> 
            <select class="form-control" label="Credit History" type="number"  name="Credit_History"  required="required">
                <option disabled selected value>Select...</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
            </select>
          </div>
        </div> <br>  
  
        <div class="form-group">
          <div class="col-sm-10"><label>  Self Employed:</label>
            <select class="form-control" type="number" name="Self_Employed" required="required">
                  <option disabled selected value>Select...</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
            </select>
          </div>
        </div> <br>  

        <div class="form-group">
          <div class="col-sm-10"><label>  Dependents:</label>
            <select class="form-control" type="number" name="Dependents" required="required">
                  <option disabled selected value>Select...</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3+">3+</option>
            </select>
          </div>
        </div> <br> 
  
        <div class="form-group">
          <div class="col-sm-10"><label>  Property_Area:</label>
            <select class="form-control" type="number" name="Property_Area" required="required">
                  <option disabled selected value>Select...</option>
                  <option value="Urban">urban</option>
                  <option value="Semiurban">semiurban</option>
                  <option value="Rural">rural</option>
            </select>
          </div>
        </div> <br>  
  
         <div class="form-group">
          <div class="col-sm-10"><label>  Married:</label>
            <select class="form-control" type="number"  name="Married" required="required">
                  <option disabled selected value>Select...</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
            </select>
          </div>
        </div> <br>  
  
         <div class="form-group">
          <div class="col-sm-10"><label>  Education:</label>
            <select class="form-control" type="number"  name="Education" required="required">
                  <option disabled selected value>Select...</option>
                  <option value="Graduate">Graduate</option>
                  <option value="Notgraduate">not Graduate</option>
            </select>
          </div>
        </div> <br>  
      
         <div class="form-group">
          <div class="col-sm-10"><label>  Gender:</label>
            <select class="form-control" type="number"  name="Gender" required="required">
                  <option disabled selected value>Select...</option>
                  <option value="Male">male</option>
                  <option value="Female">female</option>
            </select>
          </div>
        </div> <br>  
  
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
           <center><button type="submit" class="button-big">Predict</button><center/>
          </div>
        </div>
      </form>
    </div></div>
<br>
<!--Vision-->
<section class="page-section bg-primary" id="vision">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="text-white mt-0">We've got what you need!</h2>
              <hr class="divider divider-light" />
              <p class="text-white-75 mb-4" >We work with cutting edge technologies to give you best results.<br>In order to design our models<br> We test it with multiple algoritms and go for the one with best accuracy.It's to important to be so accurate in order to give the best predictions.  </p>
            
          </div>
      </div>
  </div>
</section>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
   
     
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white">Designed and Developed by Utkarsh Kumar</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>